<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce product list</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>E-commerce</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Product list</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">


    <div class="ibox-content m-b-sm border-bottom">
        <form method="GET" action="/product_list">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-form-label" for="product_name">Product Name</label>
                        <input type="search" id="product_name" name="product_name" placeholder="Product Name"
                            class="form-control search_input">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group" style="margin-top:33px;">
                        <button type="submit" class="btn btn-danger wrn-btn ">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form method="GET" action="/product_list">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>

                                    <th data-toggle="true">Product Category</th>
                                    <th data-hide="phone">Product Name</th>
                                    <th data-hide="all">Description</th>
                                    <th data-hide="phone">Price</th>
                                    <th data-hide="phone,tablet">Quantity</th>
                                    <th data-hide="phone">Status</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>
                                        <span name="category">{{category.name}}</span>
                                    </td>
                                    <td>
                                        <span name="product_name">{{name}}</span>
                                    </td>
                                    <td>
                                        <span style="width:100%;" minlength="150"
                                            name="description">{{description}}</span>
                                    </td>
                                    <td>
                                        <span name="price">${{price}}</span>
                                    </td>
                                    <td>
                                        <span name="quantity">{{quantity.kg}} kg</span>
                                    </td>
                                    <td>
                                        <span class="status label label-primary" name="status">{{status}}</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn" style="width:100%; padding:0;">
                                            <a style="border:1px solid lightgray; padding:3px 25px;"
                                                href="/products/{{id}}/edit">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="footer">
    <div class="float-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>

</div>
</div>

<script>
    $(".status").each((i, elem) => {
        if ($(elem).html() === 'disabled') {
            $(elem).removeClass("label-primary");
            $(elem).addClass("label-danger")
        } else if ($(elem).html() === 'in_stock') {
            $(elem).removeClass("label-primary");
            $(elem).addClass("label-warning")
        }
    })
</script>